#one {
    background-color: blue;
}
#two {
    background-color: green;
    display: none;
}
#three {
    background-color: blue;
}

div {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}